html,body{
  background-image: url("../login/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
  }
  .container{
    height: 100%;
    align-content: center;
    }
    .card{
      
      margin-top: auto;
      margin-bottom: auto;
      width: 400px;
      background-color: rgba(0,0,0,0.7) !important;
      
      }
      
  
.form-gap {
  padding-top: 70px;
}
.forgot .fa-lock 
{
  color: #FFC312;
}

.btn-block
{
  background-color: #FFC312;
}
.btn-block:hover{
  background-color: #FFF;
  color: #000;
}
.forgot
{
  color: #FFF;
  padding: 1.5em;
  
}
