.main{
  padding: 7em;
 
}
.heading
{
  color:  #55709b;
}
.media img{
  height:200px;
  border-radius: 50%;
}
.media-body
{
  padding-top: 2em;;
}
.modal-footer a{
  color:#fff;
}
.info
{
  padding-top: 2em;
}

.next-div
{
  border-left: #dbd9d9 solid;
 
}
.contact
{
  background-color: #55709b;
  font-size: 1.5em;
}

textarea::placeholder
{
  font-size: 0.8em;
}
form .col
{
  padding-top:1.5em;
}
form .col textarea
{
  padding-top: 0.5em;
  padding-bottom: 1.5em;
}
h6.heading{
  padding-top: 1.5em;
}
i{
  color: #55709b;
 
}
.verify
{
  background-color: #55709b;
  color:#fff;
  text-align: center;
}
.verify i
{
  color: #fff;
}
.fa-id-card
{
  padding-right: 1em;
  padding-top: 0.9em;
}
.fa-clock-o,.fa-calendar-o
{
   padding-right: 1.5em;
}
.fa-map-marker,.fa-money
{
  padding-right: 1em;
}