.city
{
  color:  #5383d3;
  margin: 0;
}
body{
  background: #eff2f8;
}
.card-img{
  width:230px;
  height:240px;
}
.card-body{
  margin-left: 0;
}
.card-title{
  text-align: left;
}
.fa-star, .fa-star-o{
  color: #dddd0e ;
}
.card-title i.first{
  padding-left:25em;
}
body{
  bottom: 0%;
}